/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

/* general */
h1, h2, h3 {
    font-family: 'Noto Serif NP Hmong', serif;
}

body {
    /* remove automatic white border/margin */
    margin: 0;
    padding: 0;
}

/* header */

header {
    background-color: rgba(88, 82, 82, 0);
    position: fixed;
}

#header-name {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 6px;
    color: white;
    margin: 0;
    padding-left: 5px;
}

/* nav menu */

#menu {
    list-style-type: none;
}

/* main content */

main {
    /* temporary background image */
    background: url('../images/bg-img1-wide.webp') no-repeat center/cover;
    /* sticky footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* hero image */

#hero {
    /* background: url('../images/bg-img1.webp') no-repeat center/cover; */
}

/* footer */

footer {
    background-color: rgba(24, 51, 28, 0.499);
    margin-top: auto;
    color: white;
}

#socials {
    color: white;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-inline-start: 0;
}