/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

/* general */
h1,
h2,
h3 {
    font-family: 'Noto Serif NP Hmong', serif;
    color: whitesmoke;
}

body {
    /* remove automatic white border/margin */
    margin: 0;
    padding: 0;
    /* standard font */
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
}

body a {
    text-decoration: none;
    color: whitesmoke;
}

/* header */

header {
    background-color: rgba(88, 82, 82, 0);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
}

#header-name {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
}

/* nav menu */

#menu {
    list-style-type: none;
}

/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    text-align: right;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

nav ul {
    padding-right: 1rem;
    margin-top: 0;
}

/* nav toggle */
#nav-toggle:checked~nav {
   display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content */

main {
    /* temporary background image */
    background: url('../images/bg-img1-wide.webp') no-repeat center/cover;
    /* sticky footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* hero image */

#hero {
    /* background: url('../images/bg-img1.webp') no-repeat center/cover; */
}

/* footer */

footer {
    background-color: whitesmoke;
    margin-top: auto;
}

#socials {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-inline-start: 0;
    padding: 10px 0;
    font-size: 125%;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* header */
    header {
        display: block;
    }
    nav {
        display: block;
        position: relative;
        width: 100%;
        /* padding-right: 1rem; */
    }

    nav ul {
        padding-right: 0;
        padding-inline-start: 0;
    }

    #menu {
        display: flex;
        justify-content: center;
    }

    #menu>li {
        padding-left: 1rem;
        border-right: 1px solid #fff;
        padding-right: 1em;
    }
    
    #menu>li:last-child {
        border: none;
        padding-right: none;
    }
    .nav-toggle-label {
        display: none;
    }

    #header-name {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #logo-div {
    width: 100%;
    text-align: center;
    }
}