/* Nunito Sans google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

/* general */
h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    /* remove automatic white border/margin */
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
}

#header-name {
    text-transform: uppercase;
    color: white
}

main {
    background-color: blue;
    /* sticky footer */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: blueviolet;
    margin-top: auto;
}